@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.activity-container {
    width: 100%;
    height: auto;
}
.activity {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);

    @include xl {
        grid-template-columns: repeat(3, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns: repeat(1, 1fr);
    }

    @include sm {
        grid-auto-rows: minmax(120px, auto);
    }

    .box {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $soft-bg;
        grid-column: span 2;
        grid-row: span 1;
        grid-column-start: 2;
        grid-column-end: 4;
        background-color: $main-bg;

        @include xl {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}
